.marker {
  width: 104px;
  position:absolute;
  overflow:visible;
  left:0;
  top:0;
  background-color:#fff;
  border:2px solid #505050;
  border-radius: 5%;
  text-align:center;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.marker:hover {
  animation-name: bounce;
  cursor: pointer;
  z-index: 100;
}

.marker > .title {
  font-size: 14px;
  font-weight: 700;
  padding: 5px;
  background-color: #505050;
  color: #fff;
}

.list_item {
  font-size: 0.75em;
  padding: 5px;
  list-style-type: none;
}

.list_item:not(:last-child){
  font-weight: 400;
  border-bottom: 2px solid #505050;
}

.location {
  position: absolute;
  overflow: visible;
  box-sizing: content-box !important;
  cursor: inherit;
  left: 960px;
  top: 386px;
}

.location-div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(239, 78, 86);
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 4px 4px rgb(239, 78, 86), 0px 0px 20px 20px rgba(239, 78, 86, 0.31);
  animation: glow-red 0.7s ease 0s infinite alternate none running;
  cursor: pointer;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
  }
  60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
  }
}

@keyframes glow-red {
  0% {
    box-shadow: 0 0 6px -6px #ef4e564f;
  }
  100% {
      box-shadow: 0 0 6px 6px #ef4e564f;
  }
}