main {
  height: 100vh;
}

section {
  overflow: hidden;
  height: 100%;
}

.map {
  position: relative;
  height: 100%;
}

.map-tools {
  position: absolute;
  right: 20px;
  bottom: 35px;
  z-index: 1;
}